<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url }}"><img src="{{ "/assets/centre-brou-baudieres.svg" | relative_url }}" alt="{{ site.title | escape }}" role="image"></a>

    <nav class="site-nav">
      {% for link in site.data.navigation.main | sort:weight %}
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

  </div>

</header>
